// Breakpoints
$default-only: max-width 400px, 0
$breakpoint-1: 400px, 6
$breakpoint-2: 800px, 6
$breakpoint-3: 1200px, 12
$breakpoint-4: 1600px, 12

.is-hidden-breakpoint-1-and-above
  +susy-breakpoint($breakpoint-1...)
    display: none
