@charset "utf-8"
@import "breakpoint"
@import "susy"

@import "utilities/susy_config"
@import "utilities/responsive"
@import "utilities/reset"
@import "utilities/colors"
@import "utilities/helpers"
@import "utilities/animations"

@import "modules/standard_section"
@import "modules/button"
@import "modules/hero"
@import "modules/icon"
@import "modules/introduction"
@import "modules/showcases"
@import "modules/showcase"
@import "modules/equipment"
@import "modules/features_list"
@import "modules/pricing"
@import "modules/package"
@import "modules/location"
@import "modules/pilot"
@import "modules/footer"
@import "modules/modal"
@import "modules/confirmation"

@import "vendor/polyfill.object-fit"

html
  &.-modal-visible
    &, body
      overflow: hidden

body
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif
  text-align: center

h1, h2, h3
  font-weight: 100

h1, h2
  color: $sapphire
  font-size: 25px
  line-height: 1.3em
  margin-bottom: 10px
  +susy-breakpoint($breakpoint-2...)
    font-size: 50px
    margin-bottom: 30px

h3
  color: $grey
  font-size: 18px
  +susy-breakpoint($breakpoint-2...)
    font-size: 25px

p, ul, label, input, textarea, select
  color: $grey
  font-size: 14px
  font-weight: 300
  line-height: 1.5
  margin-bottom: 10px
  +susy-breakpoint($breakpoint-2...)
    font-size: 20px
    font-weight: 200

label
  display: block
  margin-bottom: 10px

input, textarea, select
  border: 1px solid lighten($grey, 40%)
  font-weight: 300
  padding: 15px 20px
  &:focus
    outline: none
    border: 1px solid lighten($grey, 20%)

button
  @extend .button

select
  background-image: url(/images/select-down-arrow.svg)
  background-repeat: no-repeat
  background-position: 95% 50%
  display: block
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  border-radius: 0
  position: relative

a
  color: $blue
  text-decoration: none
  transition: 0.2s all
  &:hover
    color: darken($blue, 10%)

img
  max-width: 100%
