---
title: Aerial Drone Photography and Video Footage for Melbourne, Geelong and The Great Ocean Road | Falcon Films
---

<section class="modal" id="enquiry-modal">
  <div>
    <a href="#" class="modal__close"><img src="/images/back.svg" alt="Back" /></a>
    <h2>Alright, let's do this!</h2>
    <form class="modal__form" action="https://docs.google.com/forms/d/104wVRYLXi3peQeJCPcxxRgbZQcKPcD3jEQbOEb8k-rI/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
      <label for="email">First, what's your email address so I can get back to you?</label>
      <input type="email" name="entry.1145370905" value="" class="ss-q-short" id="email" dir="auto" aria-label="Email address  " title="" required="">
      <label for="location">Where would you like to shoot the aerial footage?</label>
      <input type="text" name="entry.419837038" value="" class="ss-q-short" id="location" dir="auto" aria-label="Shoot location  " title="">
      <label for="package">What package are you interested in?</label>
      <select id="package" name="entry.1036166132">
        <option>Half-day $700</option>
        <option>Full-day $1,300</option>
      </select>
      <label for="details">Fire away with all the details. What kind of project is it? How quick of a turnaround time do you need? Do you know exactly what you're after, or would you like me to give you some examples?</label>
      <textarea name="entry.1199501587" id="details" rows="8" cols="40"></textarea>
      <input type="hidden" name="draftResponse" value="[,,&quot;3959295140468234683&quot;]
      ">
      <input type="hidden" name="pageHistory" value="0">
      <input type="hidden" name="fvv" value="0">
      <input type="hidden" name="fbzx" value="3959295140468234683">
      <button class="expand" type="submit" name="name">Send Enquiry</button>
    </form>
  </div>
</section>

<div class="page">
  <section class="confirmation">
    <div class="confirmation__intro">
      <h1>Thank you for getting in touch.</h1>
      <p>I should take no longer than 24 hours to get back to you. Usually you'll get a response within a few hours. I look forward to talking to you :)</p>
      <p>- Damir</p>
      <button class="confirmation__confirmation-lolz" type="button" name="button">Okay</button>
    </div>
  </section>

  <section class="navigation" id="navigation">
    <a class="navigation__trigger" href="#">
      <span></span>
      <span></span>
    </a>
    <a class="navigation__logo" href="#hero">
      <img src="/images/falcon-films-logo-wide.svg" alt="Falcon Films" />
    </a>
    <ul>
      <li><a href="#showcases">Aerial Photography and Film</a></li>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="#locations">Location</a></li>
      <li><a href="#enquire" data-trigger-modal="enquiry-modal">Enquire</a></li>
    </ul>
  </section>

  <section class="hero" id="hero">
    <img class="hero__logo" src="/images/logo-white.svg" alt="" />
    <a class="hero__showreel-link" href="https://www.youtube.com/watch?v=oFHNF_Bf3_4" target="_blank"><img src="/images/play.svg" alt=""> <span>Play the showreel</span></a>
    <img class="hero__image" src="/images/hero.jpg" alt="" />
    <video class="hero__video" src="/videos/hero.mp4" preload autoplay muted loop poster="/images/hero.jpg"></video>
    <div class="hero__showreel" id="hero__showreel" data-youtube-id="oFHNF_Bf3_4"></div>
    <div class="hero__showreel-clicker"></div>
  </section>

  <section class="introduction">
    <div class="introduction__intro">
      <h1>Retina licking good<br class="is-hidden-breakpoint-1-and-above"> aerial footage.</h1>
      <p><a href="#pricing">Order aerial photography and video footage</a> for your real estate agency, wedding, business, or whatever special project you have.</p>
    </div>
    <div class="introduction__hero">
      <img class="introduction__image" src="/images/introduction.jpg" alt="" />
      <img class="introduction__shadow" src="/images/introduction-shadow.png" alt="" />
    </div>
  </section>

  <section class="showcases" id="showcases">

    <div class="showcase" id="real-estate">
      <div class="showcase__intro">
        <h2>Un-real estate photography.</h2>
        <p>Real estate experts claim that <a href="http://www.realestate.com.au/blog/drone-photography-changing-the-face-of-real-estate/" target="_blank">drone photography is changing the face of real estate</a>.
      <br class="is-visible-breakpoint-4-and-above">Show off that beautiful home and also the entire suburb.</p>
        <!-- <p><a href="#">Watch the real estate showreel <img class="icon" src="/images/icon-play.svg"><span></span></a></p> -->
      </div>
      <div class="showcase__gallery">
        <img src="/images/realestate-1.jpg" alt="" />
        <img src="/images/realestate-2.jpg" alt="" />
        <img src="/images/realestate-3.jpg" alt="" />
        <img src="/images/realestate-4.jpg" alt="" />
        <img src="/images/realestate-5.jpg" alt="" />
      </div>
    </div>

    <div class="showcase" id="weddings">
      <div class="showcase__intro">
        <h2>Wonderful wedding photography.</h2>
        <p>Capture your special moment with spectacular, cinema quality footage.</p>
        <!-- <p><a href="#">Watch the wedding showreel in full screen <img class="icon" src="/images/icon-play.svg"><span></span></a></p> -->
      </div>
      <div class="showcase__gallery">
        <img src="/images/wedding-1.jpg" alt="" />
        <img src="/images/wedding-2.jpg" alt="" />
        <img src="/images/wedding-3.jpg" alt="" />
        <img src="/images/wedding-4.jpg" alt="" />
        <img src="/images/wedding-5.jpg" alt="" />
      </div>
    </div>

    <div class="showcase" id="more-services">
      <div class="showcase__intro">
        <h2>The sky’s no limit.</h2>
        <p>Film making, advertising, sports footage, nature photography, land surveying, agriculture and industrial surveying, you name it. Drone photography was born for it.</p>
        <!-- <p><a href="#">Watch the mixtape showreel in full screen <img class="icon" src="/images/icon-play.svg"><span></span></a></p> -->
      </div>
      <div class="showcase__gallery">
        <img src="/images/mix-1.jpg" alt="" />
        <img src="/images/mix-2.jpg" alt="" />
        <img src="/images/mix-3.jpg" alt="" />
        <img src="/images/mix-4.jpg" alt="" />
        <img src="/images/mix-5.jpg" alt="" />
      </div>
    </div>
  </section>

  <section class="equipment">
    <div class="equipment__intro">
      <h3>Equipment</h3>
      <h2>One helluva drone.</h2>
      <p>This ain’t your grandma’s drone! The DJI Phantom 3 Professional delivers breathtaking footage and can climb up to an altitude of 500m in calm weather.</p>
    </div>
    <div class="equipment__photo">
      <img src="/images/dji.jpg" alt="Front view of the DJI Phantom 3 Professional" />
    </div>
    <ul class="features-list">
      <li class="features-list__item"><i>4</i><i>K</i> <span>videos</span></li>
      <li class="features-list__item"><i>12</i><i>MP</i> <span>photos</span></li>
      <li class="features-list__item"><i>3</i><i>axis</i> <span>stabilising gimbal</span></li>
    </ul>
  </section>

  <section class="pricing" id="pricing">
    <div class="pricing__intro">
      <h3>Pricing Packages</h3>
      <h2>All inclusive from $700.</h2>
      <p>I offer half-day and full-day packages, but I'd be just as happy to give you a custom quote depending on what you're after.</p>
    </div>
    <div class="pricing__packages">
      <div class="package">
        <div>
          <p class="package__name">Half-day. Hire me for 4 hours.</p>
          <p class="package__price">$700</p>
          <ul class="package__list">
            <li>4K Ultra HD resolution video</li>
            <li>10 photos in 12-megapixel resolution</li>
            <li>120m maximum flying height (500m in remote areas)</li>
            <li>USB disk (yours to keep) with the day's footage</li>
            <li>CASA (government-approved) license holder</li>
            <li>Fully insured (up to $10M in public liability)</li>
          </ul>
          <a class="package__button" href="#" data-trigger-modal="enquiry-modal" id="enquire-half-day">Enquire</a>
        </div>
      </div>
      <div class="package">
        <div>
          <p class="package__name">Full-day. Hire me for 8 hours.</p>
          <p class="package__price">$1,300</p>
          <ul class="package__list">
            <li>4K Ultra HD resolution video</li>
            <li>10 photos in 12-megapixel resolution</li>
            <li>120m maximum flying height (500m in remote areas)</li>
            <li>USB disk (yours to keep) with the day's footage</li>
            <li>CASA (government-approved) license holder</li>
            <li>Fully insured (up to $10M in public liability)</li>
          </ul>
          <a class="package__button" href="#" data-trigger-modal="enquiry-modal" id="enquire-full-day">Enquire</a>
        </div>
      </div>
    </div>
  </section>

  <section class="location" id="locations">
    <div class="location__intro">
      <h3>Location</h3>
      <h2>Servicing Melbourne, Geelong and The Great Ocean Road.</h2>
    </div>
    <div class="location__photo">
      <img src="/images/australia.svg" alt="" />
    </div>
  </section>

  <section class="pilot">
    <div class="pilot__intro">
      <h3>Meet Your Pilot</h3>
      <h2>Damir Kotorić</h2>
      <p>Previously UX Designer at <a href="https://medium.com/think-big-work-smart/looking-back-at-2-5-years-at-envato-b126d2d9873f" target="_blank">one of Melbourne's best web startups</a>.<br class="is-visible-breakpoint-3-and-above"> Now drone enthusiast, photographer, designer and web developer.</p>
    </div>
    <div class="pilot__photo">
      <img src="/images/damir.jpg" alt="" />
    </div>
  </section>

  <section class="footer">
    <div class="footer__content">
      <p><a href="http://damir.com.au">Find out more about me</a>, <a href="mailto:damirkotoric@gmail.com">email me</a>, follow me on <a href="https://twitter.com/damirkotoric" target="_blank">Twitter</a> or get in touch on <a href="https://au.linkedin.com/in/damirkotoric" target="_blank">LinkedIn</a>.</p>
      <p>Subscribe to Falcon Films on <a href="https://www.youtube.com/channel/UCmBeD_-GdhfuyaqOMbCPWHg" target="_blank">YouTube</a> and <a href="https://www.facebook.com/falconfilmsaustralia/" target="_blank">Facebook</a>.</p>
    </div>
    <div class="footer__fineprint">
      <p>Copyright © 2016 Falcon Films.</p>
    </div>
  </section>
</div>
