---
title: Aerial Drone Photography and Video Footage for Melbourne, Geelong and The Great Ocean Road | Falcon Films
---

<div class="hero">
  <img class="hero__logo" src="/images/logo-white.svg" alt="" />
  <img class="hero__image" src="/images/hero.jpg" alt="" />
  <video class="hero__video" src="/videos/hero.mp4" preload autoplay muted loop poster="/images/hero.jpg"></video>
</div>
