---
title: Aerial Drone Photography and Video Footage for Melbourne, Geelong and The Great Ocean Road | Falcon Films
---

<div class="hero">
  <img alt="" src="/images/logo-white.svg" />
  <video src="/videos/droning-geelong-river.mp4" autoplay muted loop poster="/images/geelong-river.jpg"></video>
</div>
