---
title: Aerial Drone Photography and Video Footage for Melbourne, Geelong and The Great Ocean Road | Falcon Films
---

<div class="hero">
  <img class="hero__logo" src="/images/logo-white.svg" alt="" />
  <img class="hero__image" src="/images/hero.jpg" alt="" />
  <video class="hero__video" src="/videos/hero.mp4" preload autoplay muted loop poster="/images/hero.jpg"></video>
</div>

<div class="introduction">
  <div class="introduction__copy">
    <h1>Retina-licking-good<br class="is-hidden-breakpoint-1-and-above"> aerial footage.</h1>
    <p><a href="#">Order</a> aerial photography and video footage for your real estate agency, wedding, business, or whatever special project you have.</p>
  </div>
  <div class="introduction__hero">
    <img class="introduction__image" src="/images/introduction.jpg" alt="" />
    <img class="introduction__shadow" src="/images/introduction-shadow.png" alt="" />
  </div>
</div>
