---
title: Aerial Drone Photography and Video Footage for Melbourne, Geelong and The Great Ocean Road | Falcon Films
---

<section class="hero">
  <img class="hero__logo" src="/images/logo-white.svg" alt="" />
  <img class="hero__image" src="/images/hero.jpg" alt="" />
  <video class="hero__video" src="/videos/hero.mp4" preload autoplay muted loop poster="/images/hero.jpg"></video>
</section>

<section class="introduction">
  <div class="introduction__intro">
    <h1>Retina licking good<br class="is-hidden-breakpoint-1-and-above"> aerial footage.</h1>
    <p><a href="#pricing">Order aerial photography and video footage</a> for your real estate agency, wedding, business, or whatever special project you have.</p>
  </div>
  <div class="introduction__hero">
    <img class="introduction__image" src="/images/introduction.jpg" alt="" />
    <img class="introduction__shadow" src="/images/introduction-shadow.png" alt="" />
  </div>
</section>

<section class="showcases">

  <div class="showcase">
    <div class="showcase__intro">
      <h2>Un-real estate photography.</h2>
      <p>Real estate experts claim that <a href="http://www.realestate.com.au/blog/drone-photography-changing-the-face-of-real-estate/" target="_blank">drone photography is changing the face of real estate</a>.
    Show off that beautiful home and also the entire suburb.</p>
      <!-- <p><a href="#">Watch the real estate showreel <img class="icon" src="/images/icon-play.svg"><span></span></a></p> -->
    </div>
    <div class="showcase__gallery">
      <img src="/images/realestate-1.jpg" alt="" />
      <img src="/images/realestate-2.jpg" alt="" />
      <img src="/images/realestate-3.jpg" alt="" />
      <img src="/images/realestate-4.jpg" alt="" />
      <img src="/images/realestate-5.jpg" alt="" />
    </div>
  </div>

  <div class="showcase">
    <div class="showcase__intro">
      <h2>Wonderful wedding photography.</h2>
      <p>Capture your special moment with spectacular, cinema quality footage.</p>
      <!-- <p><a href="#">Watch the wedding showreel in full screen <img class="icon" src="/images/icon-play.svg"><span></span></a></p> -->
    </div>
    <div class="showcase__gallery">
      <img src="/images/wedding-1.jpg" alt="" />
      <img src="/images/wedding-2.jpg" alt="" />
      <img src="/images/wedding-3.jpg" alt="" />
      <img src="/images/wedding-4.jpg" alt="" />
      <img src="/images/wedding-5.jpg" alt="" />
    </div>
  </div>

  <div class="showcase">
    <div class="showcase__intro">
      <h2>The sky’s no limit.</h2>
      <p>Film making, advertising, sports footage, nature photography, land surveying, agriculture and industrial surveying, you name it. Drone photography was born for it.</p>
      <!-- <p><a href="#">Watch the mixtape showreel in full screen <img class="icon" src="/images/icon-play.svg"><span></span></a></p> -->
    </div>
    <div class="showcase__gallery">
      <img src="/images/mix-1.jpg" alt="" />
      <img src="/images/mix-2.jpg" alt="" />
      <img src="/images/mix-3.jpg" alt="" />
      <img src="/images/mix-4.jpg" alt="" />
      <img src="/images/mix-5.jpg" alt="" />
    </div>
  </div>
</section>

<section class="equipment">
  <div class="equipment__intro">
    <h3>Equipment</h3>
    <h2>One helluva drone.</h2>
    <p>This ain’t your grandma’s drone! <a href="www.dji.com/product/phantom-3-pro" target="_blank">The DJI Phantom 3 Professional</a> delivers breathtaking footage and can easily climb up to an altitude of 500m in calm weather.</p>
  </div>
  <div class="equipment__photo">
    <img src="/images/dji.jpg" alt="Front view of the DJI Phantom 3 Professional" />
  </div>
  <ul class="features-list">
    <li class="features-list__item"><i>4</i><i>K</i> <span>videos</span></li>
    <li class="features-list__item"><i>12</i><i>MP</i> <span>photos</span></li>
    <li class="features-list__item"><i>3</i><i>axis</i> <span>stabilising gimbal</span></li>
  </ul>
</section>

<section class="pricing" id="pricing">
  <div class="pricing__intro">
    <h3>Pricing Packages</h3>
    <h2>Start with a free 15 second aerial film.</h2>
    <p>Yep, that’s right. Don’t pay a dime for an aerial film. Once you’re happy with the results order one of the better packages.</p>
  </div>
  <div class="pricing__packages">
    <div class="package">
      <div>
        <p class="package__name">Free</p>
        <p class="package__price">$0</p>
        <ul class="package__list">
          <li>One short 15-second film</li>
          <li>720p resolution video</li>
        </ul>
        <a class="package__button" href="mailto:contactfalconfilms@gmail.com?subject=Enquiry regarding the free package">Order</a>
      </div>
    </div>
    <div class="package">
      <div>
        <p class="package__name">Professional</p>
        <p class="package__price">$500</p>
        <ul class="package__list">
          <li>One superb 5-minute film</li>
          <li>4K resolution video</li>
          <li>10 photos</li>
          <li>Video editing</li>
          <li>Music included</li>
          <li>Copy of all original footage</li>
        </ul>
        <a class="package__button" href="mailto:contactfalconfilms@gmail.com?subject=Enquiry regarding the professional package">Order</a>
      </div>
    </div>
    <div class="package">
      <div>
        <p class="package__name">Bespoke</p>
        <p class="package__price">$2,000+</p>
        <ul class="package__list">
          <li>Custom number of films and lengths</li>
          <li>4K resolution video</li>
          <li>100+ photos</li>
          <li>Video editing</li>
          <li>Music included</li>
          <li>Copy of all original footage</li>
          <li>Practice shot before the day</li>
        </ul>
        <a class="package__button" href="mailto:contactfalconfilms@gmail.com?subject=Enquiry regarding bespoke work">Order</a>
      </div>
    </div>
  </div>
</section>

<section class="location">
  <div class="location__intro">
    <h3>Location</h3>
    <h2>Servicing Melbourne, Geelong and The Great Ocean Road.</h2>
  </div>
  <div class="location__photo">
    <img src="/images/australia.svg" alt="" />
  </div>
</section>

<section class="footer">
  <!-- <p><a href="https://www.youtube.com/channel/UCmBeD_-GdhfuyaqOMbCPWHg" target="_blank">Watch Falcon Films on YouTube.</a></p> -->
  <p>Copyright © 2016 Falcon Films.</p>
</section>
