.hero
  background: $violet
  height: 95vh
  overflow: hidden

  img
    position: absolute
    left: 50%
    top: 50%
    margin-left: -100px
    margin-top: -140px
    opacity: 1
    width: 200px
    z-index: 2

  video
    object-fit: cover
    opacity: 0.2
    height: 100%
    max-width: 100%
    width: 100%
