.introduction
  +container
  margin-top: 30px
  margin-bottom: 30px
  position: relative
  +susy-breakpoint($breakpoint-2...)
    margin-top: 60px
    margin-bottom: 60px

.introduction__copy
  +pad(2%)
  p
    +susy-breakpoint($breakpoint-2...)
      +pad(2 of 12)

.introduction__hero
  +pad(20px)
  +susy-breakpoint($breakpoint-2...)
    +pad(40px)
  +susy-breakpoint($breakpoint-4...)
    +pad(0)

.introduction__image
  display: block
  margin-top: 10px
  +susy-breakpoint($breakpoint-2...)
    margin-top: 0

.introduction__shadow
  display: block
  height: 53px
  max-width: 110%
  width: 1320px
  position: absolute
  bottom: 0
  left: -5%
  z-index: 10
