.navigation
  li
    display: inline-block
    padding: 0 5px
  a
    color: lighten($grey, 20%)
    display: block
    padding: 10px
    &:hover
      color: $white
    &:active
      color: darken($white, 30%)
